<h1>About Me</h1>
<p>Myself  Zeel Rana, struggling to become a software developer and a passionate web developer with interests in frontend and backend development.</p>
<p>I am currently pursuing a diploma in Computer Programming at Georgian College, where I am gaining hands-on experience in software development, database management, and web technologies.</p>


