<h1>Welcome to My Portfolio</h1>
<p>This is the homepage where you can learn more about me and my projects.</p>


<p>
  Find me on
  <a href="https://github.com/Zeel0911?tab=repositories" target="_blank">
    <i class="fab fa-github fa-lg me-2"></i> GitHub
  </a> and
  <a href="https://www.linkedin.com/in/zeel-rana-1666b52a7/" target="_blank">
    <i class="fab fa-linkedin fa-lg me-2"></i> LinkedIn
  </a>
</p>
