<h1 class="mb-4">Zeel Rana</h1>
<p class="lead">Here are some of my projects in which I have used a logic of HTML, CSS, JAVASCRIPT AND ASP.NET</p>

<div class="row">
  <div class="col-md-4 mb-3">
    <div class="card h-100">
      <div class="card-body">
        <h5 class="card-title">Health Management System</h5>
        <p class="card-text">
           ASP.NET, JavaScript<br />
           Visual Studio
        </p>
      </div>
    </div>
  </div>

  <div class="col-md-4 mb-3">
    <div class="card h-100">
      <div class="card-body">
        <h5 class="card-title">Cotton Candy Shop</h5>
        <p class="card-text">
          <strong>Languages used:</strong> HTML, CSS<br />
          <strong>Platform used:</strong> Visual Studio Code
        </p>
      </div>
    </div>
  </div>

  <div class="col-md-4 mb-3">
    <div class="card h-100">
      <div class="card-body">
        <h5 class="card-title">Clothing Brand Website</h5>
        <p class="card-text">
          <strong>Languages used:</strong> HTML, CSS, JavaScript<br />
          <strong>Platform used:</strong> Visual Studio Code
        </p>
      </div>
    </div>
  </div>
</div>
